{% extends 'toys/layout.html' %}
{% load any %}
{% block page_title %}
    Welcome to Employee list
{% endblock %}
{% block page_header %}
    Welcome to Employee list
    <hr>
{% endblock %}
{% block page_navbar %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
        <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>Phone number</td>
            <td>Email</td>
        </tr>
        </thead>
        <tbody>
        {% render_employee_list employee_list %}
        </tbody>
    </table>
{% endblock %}
{% block page_content %}
{% endblock %}