<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
<div>
    {% block page_header %}
    {% endblock %}
</div>
<div>
    {% block page_navbar %}
    <table>
        <tr>
            <td style="width: 100px"><a href="{% url 'toys:toys' %}">Toys</a></td>
            <td style="width: 100px"><a href="#">Users</a></td>
        </tr>
    </table>
    {% endblock %}
    <hr>
</div>
<div>
    {% block page_content %}
    {% endblock %}
</div>

</body>
</html>
