<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AllToys - dashboard</title>
</head>
<body>
<div>
    All Toys
</div>
<div>
    <table>
        <tr>
            <td style="width: 100px"><a href="{% url 'toys:toys' %}">Toys</a></td>
            <td style="width: 100px"><a href="#">Users</a></td>
        </tr>
    </table>
    <hr>
    <table>
        {% for toy in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
{#                <td>{{ toy.id }}</td>#}
                <td><a href="{% url 'toys:toy_detail' toy.id %}">{{ toy.name }}</a></td>
                <td>{{ toy.user.email }}</td>
                <td>
                    {% for tag in toy.tags.all %}
                        {{ tag.name }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
</div>
</body>
</html>
